---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import ModelY from "../components/ModelY.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout title="Tesla - El carro de tus sueños">
  <LandingHeader />
  <main class="snap-y snap-mandatory relative h-screen overflow-auto">
    <HeroSection />
    <ModelY />
  </main>
</Layout>
